@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'MyCustomFont';
  src: url('./cyberfont.otf') format('opentype'); /* Specify OTF format */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'CrowdsaleBuyBox';
  src: url('./ArchivoBlack-Regular.otf') format('opentype'); /* Specify OTF format */
  font-weight: normal;
  font-style: normal;
}


*{
  margin: 0;
  padding: 0;
}
body{
  min-height: 100vh;
  background-image: url(background-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'MyCustomFont';
  color: #FD5E53;
}
.body{
  display: flex;
  flex-direction: column;
}

nav{
  background-color: rgba(55, 56, 61, 0.2);
  backdrop-filter: blur(5px);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li{
  height: 120px;
}
nav a{
  height: 100%;
  padding: 0 30px;
  display: flex;
  align-items: center;
  color: white;
  font-size: 1.5rem;
}
.big{
  font-size: 1.8rem ;
  color: white;
}
.menu{
  display: none;
  z-index: 10;
}

.centered{
  display: flex;
  justify-content: center; /* Horizontally centers the X */
  align-items: center;
  background-color: black;
  backdrop-filter: blur(0px)!important;
}
nav a:hover{
  background-color: rgba(55, 56, 61, 0.35);
  backdrop-filter: blur(5px);
}
nav li:first-child{
  margin-right: auto;
}
.sidebar{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(55, 56, 61, 0.5);
  backdrop-filter: blur(5px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar li{
  height: 50 px;
  width: 100%;
}
.sidebar a{
  width: 100%;
}

.crowdsaleBody{
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 90px 0px 0px 0px;

}
.Crowdsale-glass{
  height: 500px;
  width: 1200px;
  background-color: rgba(55, 56, 61, 0.5);
  backdrop-filter: blur(5px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  position: relative;
}
.Crowdsale{
  height: 500px;
  width: 1200px;
  color: white;
  font-size: 1.0rem;
  position: absolute;
}
.crowdsaleUi{
  font-family: 'CrowdsaleBuyBox';
  color: black;
  font-size: 2.0rem;
  background-image: url("buyBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 500px;
  height: 452px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Fixed typo */
  justify-content: center; /* Fixed typo */
  position: relative;
  padding: 0px 0px 0px 0px;
  border-radius: 30px;
}
.crowdsaleUi::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.content {
  z-index: 2; /* Ensure content is above the overlay */
}

.text-body{
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 900px 0px 0px;
}
.video{
  width: 65vh;
  transform: rotate(180deg);
  
  display: flex;
  justify-content: flex-end; 
  align-items: flex-end;

}
.video-specs{
  border-radius: 3.1rem;
  filter: blur(2px);
  opacity: 0.7;
}
.page-text{
  padding: 30px 30px 30px 30px;
  font-size: 1.0rem ;
  position: absolute;
  transform: rotate(180deg);
  color: white;
  text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.9);
}


/* Ensure the video background container has the right size */



@media(max-width: 800px){
  .hideOnMobile{
    display: none;
  }
  .menu{
    display: block!important;
  }
}
@media(max-width: 400px){
  .sidebar{
    width: 100%;
    backdrop-filter: blur(5px);
  }
  .big{
  font-size: 2.0rem ;
  color: white;
}
}